<!-- 어드민 처음나오면 쓸 머스테치 -->
{{>layouts/header}}
    <div id="content">
        <div id="content_box">
            <div class="box1">
                <div style="font-weight: bold;"><a href="#">회원 관리 +</a></div>
                <table id="adminMtable">
                    <thead>
                        <tr>
                            <th>회원 번호</th>
                            <th style="width: 30%">아이디</th>
                            <th style="width: 20%">이름</th>
                            <th style="width: 30%">가입 날짜</th>
                            <th>회원 상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>2</th>
                            <th>샘플</th>
                            <th>샘플이름</th>
                            <th>2024-03-07</th>
                            <th>일반</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>샘플2</th>
                            <th>샘플이름</th>
                            <th>2024-03-07</th>
                            <th>일반</th>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="box">
                <div>게시글 관리</div>
                <table id="adminBtable">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="box">
                <div>댓글 관리</div>
                <table id="adminRPtable">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="box">
                <div>리뷰 관리</div>
                <table id="adminRVtable">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="box">
                <div>음식점 승인/반려</div>
                <table id="adminStable">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="box">
                <div>음식점 관리</div>
                <table id="adminS2table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
{{>layouts/footer}}