<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h3>가게 전체 출력 페이지 </h3>
    <div class="storeList">
        <h4>가게1</h4>
        메인이미지
        가게이름
        지역
        음식종류
    </div>
        <div class="storeList">
            <h4>가게2</h4>
            메인이미지
            가게이름
            지역
            음식종류
        </div>
        <div class="storeList">
            <h4>가게3</h4>
            메인이미지
            가게이름
            지역
            음식종류
        </div>
        <div class="storeList">
            <h4>가게4</h4>
            메인이미지
            가게이름
            지역
            음식종류
        </div>
        <div class="storeList">
            <h4>가게5</h4>
            메인이미지
            가게이름
            지역
            음식종류
        </div>
</body>
</html>