{{>layouts/header}}
<div id="storeInfoBox">

</div>


<div class="btnBox">
    <button  onclick="location.href='/store/view'">목록보기</button>
</div>

<script src="/js/storeInfo.js"></script>
{{>layouts/footer}}

