{{>layouts/header}}
<div id="storeInfoBox">

</div>


<div class="btnBox">
    <button  onclick="location.href='/store/view'">목록보기</button>
    <div class="replyBox">
        <form class="storeReviewForm">
            <input type="file" name="rvfile" id="rvfile">
            <textarea name="rvcontent" class="rvcontent"></textarea>
            <div class="onReviewWriteBtn"> <!-- 리뷰작성 버튼 출력부분 -->
                <!-- <button type="button"class=" " onclick="onReviewWrite()">리뷰 작성</button> -->
            </div>
        </form>
        <div class="reviewListBox">
        <!-- 출력위치 -->
        </div>
    </div>
</div>


<script src="/js/storeInfo.js"></script>
{{>layouts/footer}}

