/*콘텐츠 시작*/
#banner{
    width: 100%;
    height: 640px;
    background-color: #EBC394;
}
#content_box{
    width: 1100px;
    border: 1px solid brown;
    margin: 0 auto;
}
#mapBox{
    width: 780px;
    height: 130px;
    margin: 0 auto;
    border: 1px solid orange;
    margin-top: 140px;
}
.box{
    width: 100%;
    height: 600px;
    border: 1px solid blue;
    margin-top: 140px;
}