/*리뷰상자*/
.reviewListBox>div>span>img{
    width: 200px;
}/
*상세리스트*/
 .imgbox>img{
     width: 300px;
 }
 /* 리뷰작성 버튼 OFF 일떄 CSS */
 .BtnOff{
     pointer-events: none;
     background-color: #bababa;
     color: rgb(66, 66, 66);
 }
#storeInfoWrap{
    width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}
#storeInfoBox .storeInfo{
    text-align: center;
    margin: 20 auto;
    font-size: 30px;
    border: 1px solid #FF7C2B;
    border-radius: 30px;
    height:50px;
}
#etcWrap button,#etcWrap input{
    margin: 20 auto;
}
.imgbox img{
    width : 1000px;
    height : 500px;

}

/*==========================이미지 슬라이드============================= */


/*=====================================================================*/



