{{>layouts/header}}
    <div id="content">
        <div id="banner">
            배너
        </div>
        <div id="content_box">
            <div id="mapBox">
                지도
            </div>
            <div class="box">
                추천맛집
            </div>
            <div class="box">
                주변맛집
            </div>
            <div class="box">
                sns핫한맛집
            </div>
        </div>
    </div>
{{>layouts/footer}}