{{>layouts/header}}
    <div id="mypageBox">
        <div id="mypageTitle">
            <img src="/img/mzrLogo.png"/>
            <h1>마이페이지</h1>
        </div>
        <ul id="mypageMenu">
            <li class>내 정보</li>
            <li>회원정보 변경</li>
            <li>내가 쓴 글/댓글 보기</li>
            <li>내 쿠폰</li>
            <li>즐겨찾기</li>
            <li>회원탈퇴</li>
        </ul>
    </div>
{{>layouts/footer}}